<?xml version="1.0" ?>
<?xml version="1.0" ?>
<robot name="barrier">
    
	<link name="cylinder">
		<visual>
			<!--origin xyz="17 1.4 0.5" rpy="0 0 0"/-->
			<geometry>
				<cylinder radius="0.2" length="1.0"/>
			</geometry>
	     	<material name="red">
                <color rgba="1 0 0 1"/>
            </material>
	   </visual>
	</link>

	<link name="wrist_link">
		<visual>
			<!--origin xyz="17 1.4 0.5" rpy="0 0 0"/-->
			<geometry>
				<cylinder radius="0.35" length="0.1"/>
			</geometry>
	     	<material name="red">
                <color rgba="1 0 0 1"/>
            </material>
	   </visual>
	</link>

    <!-- Brazo de la barrera móvil (Desplazado en Y -1) -->
    <link name="bar">
        <visual>
            <origin xyz="0 1 0.05" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 2 0.2"/>  
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>

    <!-- Articulación de rotación en el extremo del brazo sobre el eje Z -->
    <joint name="wrist_joint" type="fixed">
    	<parent link="wrist_link"/>
    	<child link="bar"/>
    	<origin xyz="0 0 -0.055" rpy="0 0 0"/>
	</joint>

    <joint name="rotation_joint" type="revolute">
        <parent link="cylinder"/>
        <child link="wrist_link"/>
        <axis xyz="0 0 1"/>  <!-- Rotación en el eje Z -->
        <limit lower="-1.57" upper="1.57"/>
    </joint>

</robot>
