<?xml version="1.0" ?>
<robot name="cylinder">
    <link name="post">
        <visual>
            <geometry>
                <cylinder radius="0.2" length="1.0"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>
</robot>
