<?xml version="1.0" ?>
<robot name="goal">
    <link name="finish">
        <visual>
            <geometry>
                <box size="2 2 0.05"/>  
            </geometry>
            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
    </link>
</robot>
