<?xml version="1.0" ?>
<robot name="goal">
    <link name="finish">
        <visual>
            <origin xyz="20 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 3 0.05"/>  
            </geometry>
            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
    </link>
</robot>
